@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
h1{
    color: rgb(81, 119, 245);
    font-family: 'Poppins,sans-serif';
    text-align: center;
    font-size: 27px;
}
p{
    font-family: 'Poppins,sans-serif';
    text-align: center;
    font-size: 18px;
    color: rgb(68, 67, 68);
}
.input {
  display: flex;
  gap: 10px; /* espaço entre os inputs */
  padding: 2%;
}

.input ion-textarea {
  flex: 1; /* faz os dois ocuparem o mesmo espaço */
  border-radius: 12px;
  overflow: hidden;
}
.inpot {
  display: flex;
  gap: 10px; /* espaço entre os inputs */
  padding: 2%;
}

.inpot ion-textarea {
  flex: 1; /* faz os dois ocuparem o mesmo espaço */
  border-radius: 12px;
  overflow: hidden;
}
.inpat {
  display: flex;
  gap: 10px; /* espaço entre os inputs */
  padding: 2%;
}

.inpat ion-textarea {
  flex: 1; /* faz os dois ocuparem o mesmo espaço */
  border-radius: 12px;
  overflow: hidden;
}
.inputt {
  display: flex;
  gap: 10px; /* espaço entre os inputs */
  padding: 2%;
}

.inputt ion-textarea {
  flex: 1; /* faz os dois ocuparem o mesmo espaço */
  border-radius: 12px;
  overflow: hidden;
}
.input ion-textarea {
  --border-radius: 12px; /* forma recomendada no Ionic */
  --border-color: #28a745; /* cor da borda */
  --border-width: 2px;     /* espessura da borda */
}
.inputt ion-textarea {
  --border-radius: 12px; /* forma recomendada no Ionic */
  --border-color: #28a745; /* cor da borda */
  --border-width: 2px;     /* espessura da borda */
}
.inpot ion-textarea {
  --border-radius: 12px; /* forma recomendada no Ionic */
  --border-color: #28a745; /* cor da borda */
  --border-width: 2px;     /* espessura da borda */
}
.inpat ion-textarea {
  --border-radius: 12px; /* forma recomendada no Ionic */
  --border-color: #28a745; /* cor da borda */
  --border-width: 2px;     /* espessura da borda */
}
.cardd {
  display: flex;
  gap: 4px;
  border-radius: 15px;
}
ion-card{
  width: 90px;
  height: 200px;
  flex: 1;
  text-align: center;
}
ion-card  img{
  margin: auto;
}

ion-button{
  color: #28a745;
}
ion-button:hover{
  background-color: #28a745;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.header{
  padding-top: 16px;
}
