<ion-header>
  <ion-toolbar color="success">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h1>Meu Perfil 👤</h1>
  <p>Configure suas Informações para recomendações personalizadas</p>
  <ion-toolbar>
    <ion-title class="ion-padding">Informações Pessoais</ion-title>
  </ion-toolbar>
  <div class="input">
    <ion-textarea label="Idade 🦰" labelPlacement="floating" fill="solid" placeholder="Ex:25"></ion-textarea>
    <ion-textarea label="Altura (cm) 📏" labelPlacement="floating" fill="solid" placeholder="Ex:1.70"></ion-textarea>
  </div>
  <div class="inputt">
    <ion-textarea label="Peso Atual (kg) ⚖️" labelPlacement="floating" fill="solid" placeholder="Ex:90.1"></ion-textarea>
    <ion-textarea label="Peso Desejado (Kg) 🎯" labelPlacement="floating" fill="solid" placeholder="Ex:70.0"></ion-textarea>
  </div>
  

</ion-content>
